@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 55, 55);
    color: white;
    height: 75px;
    font-family: 'Potta One', cursive;
}

nav div{
    font-size: 20px;
}

nav span.logo img{
    width: 45px;
    border-radius: 2px;
}

div.container{
    width: 50vw;
    margin: auto;
    padding: 30px 0;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}